<section id="home">
  <div class="home-wrapper wrapper-sm">
    <!-- <h2 *ngIf="homeContent">{{ homeContent.num_results }} Results</h2> -->
    <div *ngIf="homeContentResults" class="home-content">

      <div *ngFor="let result of homeContentResults | slice:0:imagesToLoad" class="content-block" [ngClass]="{'loaded': imagesLoaded >= imagesToLoad}">
        
        <div class="content-img">
          <img *ngIf="result.multimedia[4]" [src]="result.multimedia[4].url" (load)="loadImage()" />
          <span *ngIf="!result.multimedia[4]" [inlineSVG]="limeSVG" (load)="loadImage()"></span>
        </div>

        <div class="content-text">
            <p class="content-section">{{ result.section }}</p>
          <p class="content-title">{{ result.title }}</p>
        </div>

      </div>

    </div>
  </div>
</section>
