<section id="home">

  <div *ngIf="!loaded">
    <app-loading></app-loading>
  </div>

  <div class="home-wrapper wrapper-sm">
    <div *ngIf="homeContentResults" class="home-content">

      <div *ngFor="let result of homeContentResults | slice:0:imagesToLoad" class="content-block" [ngClass]="{'loaded': imagesLoaded >= imagesToLoad}">
        
        <div class="content-img">
          <img *ngIf="result.multimedia[4]" [src]="result.multimedia[4].url" (load)="loadImage()" />
          <span *ngIf="!result.multimedia[4]" [inlineSVG]="limeSVG" (load)="loadImage()"></span>
        </div>

        <div class="content-text">
          <div class="hover-background">
            <p class="content-section">
              <span *ngIf="result.section">{{ result.section }}</span>
              <span *ngIf="result.subsection">&ndash; {{ result.subsection }}</span>
            </p>
            <p class="content-title">{{ result.title }}</p>
            <p *ngIf="result.published_date" class="content-created-date">{{ result.published_date | date:'fullDate' }}</p>
          </div>
        </div>

      </div>

    </div>
  </div>
  
</section>
