@import '~sass/colors';
@import '~sass/standards';

.home-wrapper {

    .home-content {
        column-count: 4;
        column-gap: 5px;

        @media #{$laptop} {
            column-count: 3;
        }

        @media #{$tablet} {
            column-count: 2;
        }

        @media #{$mobile} {
            column-count: 1;
        }

        .content-block {
            width: 100%;
            height: auto;
            overflow: hidden;
            position: relative;
            transition: $transition-short;
            opacity: 0;

            &.loaded {
                opacity: 1;
            }
            
            .content-img {

                &::after {
                    background: $blue-gradient;
                    bottom: 0;
                    content: "";
                    left: 0;
                    opacity: 0.75;
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 2;
                    margin-bottom: 4px;
                    transition: $transition-short;
                }

                img {
                    width: 100%;
                    max-height: 100%;
                }
            }

            .content-text {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                z-index: 4;
                margin-bottom: 4px;
                background: $black-gradient;

                .hover-background {
                    padding: $ui-md;
                    background: $shadow-black-0;
                    transition: $transition-short;
                }

                p {
                    transition: $transition-short;
                }

                p.content-section {
                    margin: 0 0 5px;
                    color: white;
                    font-weight: 700;
                    font-size: 80%;
                    text-decoration: underline;
                }

                p.content-title {
                    margin: 0;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 110%;
                    line-height: 110%;

                    @media #{$tablet} {
                        font-size: 100%;
                    }

                    @media #{$mobile} {
                        font-size: 100%;
                    }
                }

                p.content-created-date {
                    margin: 5px 0 0;
                    color: white;
                    font-size: 75%;
                }
            }

            &:hover {
                cursor: pointer;

                .content-img {

                    &::after {
                        opacity: 0;
                    }
                }

                .content-text {
                    .hover-background {
                        background: $shadow-black;
                    }

                    p {
                        color: $hot-pink;
                    }
                }
            }
        }
    }
}