<section id="music">

  <div class="helper-text-outer">
    <div class="helper-text-inner">
      <p>Click on one of the songs below and a SoundCloud music player component will render at the bottom of the screen. The component lives outside of this music tab, so when you navigate to other tabs the music continues to play.</p>
      <p>The metadata for the songs is being stored in a simple Firebase database. The "Song" object looks like this:</p>
      <pre>{{ exampleSong | json }}</pre>
    </div>
  </div>

  <div class="music-wrapper wrapper-sm">
    <div class="tracks-container">
      <div class="track" *ngFor="let track of songs | async">
        <div class="track-body" (click)="changeSong(track.song)" [style.background-image]="'url('+track.song.artwork_url+')'">
          <div class="track-text-wrapper">
            <div class="track-text">
              <p class="track-artist">{{ track.song.artist }}</p>
              <p class="track-title">{{ track.song.title }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>